name: Documentation CI

on:
  push:
    branches:
      - master
      - develop

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: install & deploy
      run: |
        git config --global user.name "${{ secrets.GITHUB_USER }}"
        git config --global user.email "${{ secrets.GITHUB_EMAIL }}"
        echo "machine github.com login ${{ secrets.GITHUB_USER }} password ${{ github.token }}" > ~/.netrc
        cd website && yarn
        echo "current branch: $(git branch | grep \* | cut -d ' ' -f2)"
        GIT_USER="${{ secrets.GITHUB_USER }}" CURRENT_BRANCH=develop ./node_modules/.bin/docusaurus-publish
