name: Deploy documentation

on: [push]
#  push:
#    branches:
#      - master
#      - develop

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: install & deploy
      run: |
        cd website
        yarn
        git config --global user.name "${{ secrets.GH_USERNAME }}"
        git config --global user.email "${{ secrets.GH_EMAIL }}"
        echo "machine github.com login ${{ secrets.GH_USERNAME }} password ${{ secrets.GITHUB_TOKEN }}" > ~/.netrc
        cd website && yarn install && GIT_USER="${{ secrets.GH_USERNAME }}" yarn run publish-gh-pages
